<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="searchFight" type="SearchEngines.Config.SearchFightSection, SearchEngines.Config" />
  </configSections>
  <searchFight>
    <searchers>
      <searcher
        name="Google" type="SearchEngines.Searches.GoogleSearcher, SearchEngines.Searches"
        url="https://customsearch.googleapis.com/customsearch/v1?key=AIzaSyA2UrgSYKGt9SQq70rlO1S8hP2IsT8IHAY;;cx=e26be842627bef1e9;;q=">
      </searcher>
      <searcher
        name="Bing" type="SearchEngines.Searches.BingSearcher, SearchEngines.Searches"
        url="https://api.bing.microsoft.com/v7.0/search?q=">
        <headers>
          <header key="Ocp-Apim-Subscription-Key" value="5a8789b3bb7e477985d3cf3d06b5d583" />
        </headers>
      </searcher>
    </searchers>
  </searchFight>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>